<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hill Cipher - Error</title>
</head>

<body>
    <h1>Hill Cipher - Error</h1>
    <p>{{ message }}</p>
    <a href="/">Go back to Home</a>
     <footer>
        <p>Copyright © 2024 MOUHSINE OMAR</p>
        <p>Contact : <a href="omar.mouhsine.m24@ump.ac.ma">omar.mouhsine.m24@ump.ac.ma</a></p>
    </footer>
</body>

</html>
