<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithme de Hill</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hill-styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Algorithme de Hill</h1>
        <form method="post" action="{{ url_for('hill') }}">
            <label for="texte">Texte :</label>
            <textarea name="texte" rows="4" cols="50" required></textarea><br>
            <label for="cle">Clé (séparée par des espaces, par exemple '3 4 6 8') :</label>
            <input type="text" name="cle" required><br>
            <label for="action">Action :</label>
            <select name="action" required>
                <option value="chiffrement">Chiffrement</option>
                <option value="dechiffrement">Déchiffrement</option>
            </select><br>
            <input type="submit" value="Chiffrer/Déchiffrer">
            <a href="{{ url_for('index') }}" class="back-button">Retour</a>
        </form>

        {% if resultat %}
        <div class="result">
            <h2>Résultat :</h2>
            <p><b>{{ resultat }}</b></p>
            {% if action == 'chiffrement' %}
            <form method="post" action="{{ url_for('hill_decrypt') }}">
                <input type="hidden" name="texte" value="{{ resultat }}">
                <input type="hidden" name="cle" value="{{ cle }}">
                <input type="submit" value="Déchiffrer le texte">
            </form>
            {% elif action == 'dechiffrement' %}
            <form method="post" action="{{ url_for('hill') }}">
                <input type="hidden" name="texte" value="{{ resultat }}">
                <input type="hidden" name="cle" value="{{ cle }}">
                <input type="submit" value="Rechiffrer le texte">
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <footer>
        <p>Copyright © 2024 MOUHSINE OMAR</p>
        <p>Contact : <a href="omar.mouhsine.m24@ump.ac.ma">omar.mouhsine.m24@ump.ac.ma</a></p>
    </footer>

</body>
</html>
