<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permutation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/permutation-styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Algorithme de permutation</h1>
        <form method="post" action="{{ url_for('permutation') }}">
            <label for="texte">Texte :</label>
            <input type="text" name="texte" required>
            <br>
            <label for="action">Action :</label>
            <select name="action" required>
                <option value="encryption">Chiffrement</option>
                <option value="decryption">Déchiffrement</option>
            </select><br>
            <input type="submit" value="Chiffrer/Déchiffrer">
            <a href="{{ url_for('index') }}" class="back-button">Retour</a>
        </form>

        {% if resultat %}
        <div class="result">
            <h2>Résultat :</h2>
            <p><b>{{ resultat }}</b></p>

            <h2>Table de permutation :</h2>
            <p>{{ permutation_table }}</p>

            {% if action == 'encryption' %}
            <form method="post" action="{{ url_for('permutation_decrypt') }}">
                <input type="hidden" name="texte" value="{{ resultat }}">
                <input type="hidden" name="action" value="decryption">
                <input type="submit" value="Déchiffrer le texte">
            </form>
            {% elif action == 'decryption' %}
            <form method="post" action="{{ url_for('permutation') }}">
                <input type="hidden" name="texte" value="{{ resultat }}">
                <input type="hidden" name="action" value="encryption">
                <input type="submit" value="Rechiffrer le texte">
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>

</html>