<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat du Chiffrement de Vigenère</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vigenere-styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Algorithme de Vigenère</h1>

        <form method="post" action="{{ url_for('vigenere') }}">
            <label for="texte">Texte à chiffrer/déchiffrer :</label>
            <textarea name="texte" rows="4" cols="50" required></textarea><br>

            <label for="cle">Clé :</label>
            <input type="text" name="cle" required><br>

            <label for="action">Action :</label>
            <select name="action" required>
                <option value="chiffrement">Chiffrement</option>
                <option value="dechiffrement">Déchiffrement</option>
            </select><br>

            <input type="submit" value="Chiffrer/Déchiffrer">
            <a href="{{ url_for('index') }}" class="back-button">Retour</a>
        </form>

        {% if resultat %}
        <div class="result">
            <h2>Texte résultant :</h2>
            <p><b>{{ resultat }}</b></p>

            {% if action == 'chiffrement' %}
            <form method="post" action="{{ url_for('vigenere') }}">
                <input type="hidden" name="texte" value="{{ resultat }}">
                <input type="hidden" name="cle" value="{{ cle }}">
                <input type="hidden" name="action" value="dechiffrement">
                <input type="submit" value="Déchiffrer le texte">
            </form>
            {% elif action == 'dechiffrement' %}
            <form method="post" action="{{ url_for('vigenere') }}">
                <input type="hidden" name="texte" value="{{ resultat }}">
                <input type="hidden" name="cle" value="{{ cle }}">
                <input type="hidden" name="action" value="chiffrement">
                <input type="submit" value="Rechiffrer le texte">
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>

</html>